.App {
  text-align: center;
  margin-top: 50px;
}

input {
  width: 80px;
  padding: 10px;
  margin: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  margin: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
}

button:hover {
  opacity: 0.8;
}

.bg-green-500 {
  background-color: #38a169;
}

.bg-yellow-500 {
  background-color: #fbbf24;
}

.bg-red-500 {
  background-color: #ef4444;
}

.text-white {
  color: white;
}

.bg-green-600:hover {
  background-color: #2f855a;
}

.bg-yellow-600:hover {
  background-color: #d97706;
}

.bg-red-600:hover {
  background-color: #dc2626;
}